# .gitignore
.vscode
desktop.ini

old
dev



.ipynb_checkpoints

*.pyc


*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.run.xml
*.bcf
*.bcf-SAVE-ERROR

*.synctex.gz.sum.synctex


slprj
*.slxc











.pio